body {
    background-color:rgb(255, 187, 93);
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    width:99%;
}
h2 {
    clear:left;
    background-color:darkorange;
    color: white;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
header{
    clear:left;
    background-color:darkorange;
    color: white;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
h1 {
    clear:left;
    background-color:darkorange;
    color: white;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
}
h2+p {
    text-indent: 3%;
}
p {
    margin: 1%;
}
ol {
    list-style-type: lower-greek;
}
section {
    padding-bottom:1%;
}
section#leftcolumn {
    background-color: rgba(255, 242, 124, 0.45);
    clear:left;
    float:left;
    width: 50%;
    height:180px;
}
section#rightcolumn {
    background-color: rgba(255, 242, 124, 0.45);
    float:left;
    width: 50%;
    height:180px;
}
nav {
    padding:0%;
    margin:0%;

}
ul {
    list-style-type:circle;
}
nav > ul {
    list-style-type: none;
    font-size:1.3em;
}
h1 + nav > ul > li {
    display:block;
    float: left;
    width:33%
}
a:link{
    color:rgb(0, 88, 104);
}
a:visited {
    color:linen
}
li a {
    background-color:rgb(0, 88, 104);
    display: block;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color:paleturquoise
}
section#leftimage {
    background-color: rgba(255, 242, 124, 0.45);
    clear:left;
    float:left;
    width:33%;
    padding-top:2%;
}
section#rightside {
    background-color: rgba(255, 242, 124, 0.45);
    float:left;
    width:67%;
    padding-top:2%;
    font-size:1.5em;
    text-align:center;
}
img {
    margin:5%;
    float:left;
    width:90%;
    height:90%;
}
footer {
    clear:left;
    padding-left:1%;
    padding-top:1%;
    color: white;
    font-size:0.7em;
}